/* Here, we define various colours which are to be used on webpages */
/* CSS variables documented here with examples: https://www.w3schools.com/css/css3_variables.asp */

:root {
  --black: #000000;
  --white: #ffffff;
  --light_grey: #cce0f5;
  --power_blue: #007bff;
  --delivery_option_highlighter: #0E668B;
  --delivery_option_brand_name: #000000;
  --header_footer_light_blue: #3D97BD;
  --header_text: #ffffff;
  --footer_text: #ffffff;
  --input_field_caption: #000000;
  --input_field_sample_value: #000000;
  --search_text_box_tinted_blue: #3D97BD;
  --text_title_large_black: #222222;
  --icons_dark_blue: #095272;
  --text_dark_green: #0B7B4B;
  --order_total_ocean_blue: #98D6FC;
  --mandatory_input_field_asterisk: #F36F1C;
  --nav_button_dark_blue: #0E668B;
  --nav_button_text: #ffffff;
  --nav_button_rect: #000000;
  --order_item_subtotal: #0E668B;
  --order_item_price: #000000;
  --order_total: #0d6efd;
  --order_subtotal: #000000;
  --order_vat: #000000;
}

/* Here, we create custom navigation bar for my header and it is going to be used on all pages */

.custom-navbar {
  background-color: var(--header_footer_light_blue); 
  color: white;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: white;
}

.custom-navbar .nav-link:hover {
  text-decoration: underline;
  color: #ffcc00; 
}


/* Here, we create custom footer and it is going to be used on all pages */

.custom-footer {
  background-color: var(--header_footer_light_blue); 
  color: white;
}

.custom-footer .footer-link {
  color: white;
}

.custom-footer .footer-link:hover {
  text-decoration: underline;
  color: #ffcc00; /* hover color */
}


/* List style for the links to other pages present in the index.html */

.list-group-item a {
  text-decoration: none;
  color: #3e8ebd;
  font-weight: 500;
}

.list-group-item a:hover {
  text-decoration: underline;
  color: #2c5c80;
}


/* Here, we define custom style for text search box on store locator page */

/* Container background and text */
.custom-store-finder {
  background-color: var(--white);   
  color: var(--black);              
  padding: 30px;
  border-radius: 12px;
}

/* Search text input border */
.custom-input {
  border: 2px solid var(--black);   
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  background-color: #76C3E4;   
  color: var(--white);
}

/* Search text input focus state style */
.custom-input:focus {
  border-color: var(--black);
  box-shadow: none;
}

/* Search text input placeholder text color style */
.custom-input::placeholder {
  color: var(--light_grey);
  opacity: 1; /* Here, we make the placeholder text visible */
}

/* Search button custom style */
.custom-btn {
  border: 2px solid var(--black);   
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  border-color: var(--black);
  background-color: var(--nav_button_dark_blue);   
  color: white;
}

/* Search button style when mouse is hovered over it */
.custom-btn:hover {
  border: 2px solid var(--black);   
  border-color: var(--black);
  background-color: var(--search_text_box_tinted_blue);
  color: #fff;
}

/* Style for green text */
.text-green {
	color: var(--text_dark_green);
}

/* Style for red text */
.text-red {
	color: var(--mandatory_input_field_asterisk);
	font-weight: bold;
}


/* Long button custom style */
.custom-btn-long {
  border: 2px solid var(--black);   
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  border-color: var(--black);
  background-color: var(--nav_button_dark_blue);   
  color: white;
  width: 360px;
  font-size: 20px; 
  font-weight: bold;
}


/* Long button style when mouse is hovered over it */
.custom-btn-long:hover {
  border: 2px solid var(--black);   
  border-color: var(--black);
  background-color: var(--search_text_box_tinted_blue);
  color: #fff;
  width: 360px;
  font-size: 20px; 
  font-weight: bold;
}


/* Order total box custom style */
.order-summary-box {
  border: 2px solid var(--black);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  background-color: var(--order_total_ocean_blue);         
  color: var(--text_title_large_black);
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px; 
  padding: 10px 20px;
}


/* Style for delivery partners names */
.delivery-partner-name {
	color: var(--text_title_large_black);
	text-align: center;
	font-weight: bold;
	font-size: 24px; 
}


/* Delivery partner image custom style */
.delivery-partner-image {
  border: 1px solid var(--black);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  border-radius: 16px;
}

/* Delivery partner image custom style when mouse is hovered over it */
.delivery-partner-image:hover {
  border-radius: 16px;
  border: 3px solid var(--power_blue); 
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6); 
}



/* Order summary page styles */

/* Here, we define custom style for the order item block */
.order-item {
  border-color: #ccc;
  padding-bottom: 1rem;
}

/* Here,  we define the custom style for the thumb images of the order items. */
.thumb {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 8px;
}

/* Here, we define the custom style for the order item title. */
.item-title {
  color: #222;         
  font-size: 1.1rem;   
}

/* Here, we define the custom style for the order item subtitle. */
.item-subtitle {
  color: #666;
  font-size: 0.9rem;
}

/* Here, we define the custom style for the order item total price. */
.item-price {
  color: #000;
  font-size: 1rem;
}

/* Here, we define the custom style for the order item total price breakdown. */
.item-breakdown {
  color: var(--order_item_subtotal);
  font-size: 0.85rem;
  font-weight: bold;
}

/* Here, we define the custom style for the plus/minus button control for the quantity for each order item. */
.quantity-controls button {
  font-size: 0.8rem;
  padding: 2px 8px;
}

/* Here, we define the style when you hover over the button and add the shadow and highlight it. */
.quantity-controls button:hover {
  font-size: 1.0rem;
  padding: 2px 8px;
  border: 1px solid var(--power_blue); 
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6); 
}


/* Here, we create responsive media block to make the design adaptable to desktop and mobile devices */

@media (max-width: 767px) {
  .order-left {
    flex-direction: row;
    align-items: flex-start;
  }
  
  .order-price {
    text-align: right;
    margin-top: 10px;
  }
}



/* Custom style for order totals goes here. */
/* Divider custom style */
.custom-divider {
  border-top: 2px solid #ccc;
}

/* Container custom style */
.order-summary {
  padding: 1rem 0;
}

/* Text styling for summaries being shown */
.summary-line {
  color: #333;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.summary-value {
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.summary-total {
  color: var(--order_item_subtotal);
  font-size: 1.5rem;
  font-weight: bold;
}

.summary-total span {
  color: var(--order_total); 
}

/* Here, we define media block to make the order totals responsive for mobile and desktop versions */
@media (max-width: 768px) {
  .order-summary {
    text-align: center;
  }

  .summary-total {
    font-size: 1.1rem;
  }

  .summary-line {
    font-size: 0.95rem;
  }
}


/* Here, we define custom styles for the buttons on the order summary page.*/
.custom-checkout-btn,
.custom-back-btn {
  background-color: var(--order_item_subtotal); 
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid var(--black);
  border-color: var(--black);
  border-radius: 8px;
  transition: background-color 0.3s ease;
  width: 360px;
  text-align: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

/* Here, we define what happens with the buttons when mouse is hovered on them */
.custom-checkout-btn:hover,
.custom-back-btn:hover {
  border-radius: 8px;
  border: 2px solid var(--black);   
  border-color: var(--black);
  background-color: var(--search_text_box_tinted_blue);
  color: #fff;
  width: 360px;
  font-size: 20px; 
  font-weight: bold;
  text-align: center;
}

/* here, we define custom media block to make both buttons responsive and 
on mobile show proceed to checkout first and back to menu second while
on desktop show back to menu on the left side and proceed to checkout on the right */
@media (max-width: 768px) {
  .custom-checkout-btn,
  .custom-back-btn {
    justify-content: center;
    text-align: center;
    font-size: 1rem;
  }

  .custom-checkout-btn i,
  .custom-back-btn i {
    margin: 0 !important;
    font-size: 1.2rem;
  }
}

